<!DOCTYPE html>
<html>
<head>
  <style>
    title { font-size: 300%;
            text-align: center;}
    body { background-color: white; }
    h1 { color: #008000;
         text-align: center;
         font-size:300%;}
    p { color: red; }
    pre { color: black;
          font-size: 200%;
          text-align: center;
          font-family: Garamond;}
    .img-container{
      text-align: center;
    }

  </style>

    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}">

    <title>Fire Evacuations for Schools</title>

    <!-- <meta charset="utf-8"> -->
</head>
<body>
  <h1 class="logo"> Fire Evacuations for Schools </h1>
  <div style="text-align: center">
    <img src="{{url_for('static',filename='image.png')}}" alt="USA Image">
  </div>

  <pre>{{ content }}</pre>
</body>
</html>
